*{
    margin: 0;
    padding: 0;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}
.head {
    font-family: sans-serif;
    padding-bottom: 30px;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;

}
.logo {
    float: left;
    left: 15px;
    margin-left: 15px;
}
.menu {
    text-transform: uppercase;
    color: black;
    list-style: none;
    margin-right: 15px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    font-family: "OpenSans", sans-serif;
}
.menu-item {
    display: inline-block;
    margin: 0 15px;
}
.menu-link {
    text-decoration: none;
}
.menu a:hover {
    color: rgb(26, 188, 156);
}

.slider-wrp {
    position: relative;
    height: 600px;
 }
 .container {
     position: absolute;
     top: 0px;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 10;
 }
 .slider {
     margin: auto;
     padding: 0 15px;
     max-width: 1170px;
 }
 .slider-img {
     height: 600px;
     width: 100%;
 }
 .slider-btn {
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    position: absolute;
    cursor: pointer;
    width: 104px;
    height: 104px;
    z-index: 3;
    top: 220px;
    border: none;
}
.slider-btn:hover  {
    background-color: rgb(78, 198, 171);
    opacity: 1;
    position: absolute;
    cursor: pointer;
    width: 104px;
    height: 104px;
    z-index: 3;
    top: 220px;
}
 .slider-btn-right {
    right: 15px;
    margin-right: 15px;
  }
 .slider-btn-left {
    left: 15px;
    margin-left: 15px;
      }
.arrow-left {
    transform: rotate(45deg);
    margin-right: 15px;
}
.arrow {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}
.arrow-right {
    transform: rotate(225deg);
    margin-right: 15px;
}
.slider-content {
    position: absolute;
    min-width: 750px;
    left: 50%;
    transform: translate(-50%);
    top: 220px;
}
.slider-title {
    font-weight: 800;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.slider-subtitle {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}
.cards-wrp {
    background-color: rgb(233, 240, 253);
    
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
.cards {
    padding-top: 75px;
    padding-bottom: 30px;
    background-color: rgb(233, 240, 253);
    max-width: 1170px;
    margin: auto;
}
.card {
    cursor: pointer;
    float: left;
    margin: 0 15px;
    width: 255px;
    background-color: rgb(233, 240, 253);
}
.title {
    font-size: 48px;
    font-family: sans-serif;
    color: rgb(81,81,81);
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}
.title::after {
    content: '';
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    display: block;
    margin: 20px auto;
}
.img-wrp {
    overflow: hidden;
    position: relative;
}
.img-box {
    width: 100%;
    height: auto;
    display: block;
    
}
.card-link {
    text-decoration: none;
}
.card-modal {
    position:absolute;
    width: 235px;
    height: 230px;
    left: 10px;
    top: 10px;
    z-index: 10;
    opacity: 0;
    background-color: black;
}
.card:hover .card-modal {
    opacity: 0.5;
}
.icon-btn { 
    box-sizing: border-box;
    background: transparent;
    margin: 0 8px 10px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    cursor: pointer;
    vertical-align: top;
}
.card-icon-wrapper {
    position: absolute;
    opacity: 0;
    width: 235px;
    left: 24px;
    top: 90px;
    z-index: 20;
}
.icon-btn:hover {
    background-color: rgb(78, 198, 171);
    opacity: 1;
    border: none;
}
.icon-btn-add {
    width: 190px;
    background-color: black;
    padding: 0 17px 0 17px; 
}
.icon-add {
   float: left;
}
.add-to-cart {float: right;
        font-size: 14px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 2.286;
        text-align: center;
        z-index: 41;
}
.card-text {
    line-height: calc(320px - 280px);
    background-color: #323232;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    transition-duration: 0,3s;
    z-index: 3;
    cursor: pointer;
    position: relative;
    width: 100%;
}
.card-title{
    color: white;
    padding-left: 14px;
    text-transform: uppercase;
    
}
.card-price {
    background-color: #8c8c8c;
    color: white;
    float: right;
    padding: 0 12px;
}
.card:hover .card-text{
    background: rgb(26, 188, 156);
}
.card:hover .card-price {
    background: #7fd9c7;
}
.card:hover .card-modal {
    opacity: 0,55;
}
.card:hover .card-icon-wrapper {
    opacity: 1;
}
.footer {
    background-color: #323232;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    text-align: center;
    height: 90px;
}.footer-paragraph {
    width: 50%;
    
    margin: 0 auto;
}
.paragraph-white {
    color: #ffffff;
    display: inline-block;
    padding: 35px 0;
}
.paragraph-green {
    color:  rgb(78, 198, 171);
    display: inline-block;
}
